:root {
	--grid-cols: 0; /* number of columns in grid*/
	--grid-rows: 0;	/* number of rows in grid */
	--cell-size: 0px; /* width and height of square cell in grid */
}

#container {
	margin: auto;
	display: grid;
	height: 960px;
	width: 960px; 
	grid-template-rows: repeat(var(--grid-rows), var(--cell-size)); /* create "x" amount of rows based off of variable --grid--rows */
	grid-template-columns: repeat(var(--grid-cols), var(--cell-size)); /* create "x" amount of columns based off of variable --grid--cols */
	border: solid; /* border of grid */
}
  
.grid-item {
	border: 1px solid #ddd; /* border of cell */
}